.DS_Store
/data/*
!/data/.gitkeep
.vscode
**/node_modules
package-lock.json
**/*.sqlite
**/__pycache__
project/data/brfss_files/*
project/data/brfss.html
project/project-plan_files/*
project/project-plan.html
