.DS_Store
/data/*
!/data/.gitkeep
.vscode
**/node_modules
package-lock.json
**/*.sqlite
**/__pycache__
project/data/brfss_files/figure-html/cell-4-output-2.png
project/data/brfss_files/figure-html/cell-4-output-3.png
project/data/brfss_files/figure-html/cell-5-output-1.png
project/data/brfss_files/figure-html/cell-5-output-2.png
project/data/brfss_files/libs/bootstrap/bootstrap-icons.css
project/data/brfss_files/libs/bootstrap/bootstrap-icons.woff
project/data/brfss_files/libs/bootstrap/bootstrap.min.css
project/data/brfss_files/libs/bootstrap/bootstrap.min.js
project/data/brfss_files/libs/clipboard/clipboard.min.js
project/data/brfss_files/libs/quarto-html/anchor.min.js
project/data/brfss_files/libs/quarto-html/popper.min.js
project/data/brfss_files/libs/quarto-html/quarto-syntax-highlighting.css
project/data/brfss_files/libs/quarto-html/quarto.js
project/data/brfss_files/libs/quarto-html/tippy.css
project/data/brfss_files/libs/quarto-html/tippy.umd.min.js
project/data/brfss.html
